/* Space out content a bit */
html{
  height: 100%;
  padding:0;
  margin:0;
}
body {
  padding:0;
  margin:0;
  background-color: #fff;/*#faf7ee;*/
  color: #173340;
  font-family: 'Crimson Text', serif;
  font-size: 20px;
  line-height: 28px;
  height: 100%;
}

#layout{
  
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header ul {
  padding: 40px 0;
}

.header ul li {
  display: inline-block;
  list-style-type: none;
  margin: 0px 5px;
  padding: 2px 7px 1px 7px;
  transition: all .3s ease-in-out;
  border-bottom: 2px solid transparent;
  font: 13px/18px 'Lato', sans-serif;
  text-transform: uppercase;
}

.header ul li.logo {
  margin: 0 20px 0 0;
  font-weight: 700;
  color: #761c00;
}
.header ul li.active {
  background-color: #a9dde1;
}

.header ul li.active a {
  color: #173340;

}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  
}

/* Custom page footer */
.footer {
  
}

article {
  padding: 2px 7px 1px 7px;
}

article .media{
  background: #faf7ee;
  margin: 18px 0;
}

article .media .title{
  margin: 10px 20px 0 20px;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  color:#761c00;
}

article .media .description{
  margin: 0 20px 10px 20px;
  font-style: italic;
}


a{
  color: #f67954;
  transition: color .2s;
}
a:hover{
  color: #761c00;
  text-decoration: none;
  
}


h1{
  font-size: 36px;
  line-height: 48px;
}

h2{
  
  font-style: italic;
  font-weight: normal;
  padding-bottom: 40px;
  font-size: 30px;
  line-height: 36px;
}
/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 100%;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}



