node_modules
dist
.tmp
.sass-cache
bower_components

secrets.json
settings.js

*.log

*.DS_Store
node_modules

# sublime files
sublime.sublime*
sublime


dist
.tmp
.sass-cache
bower_components

app/contents
app/media
app/data