<p>{{page.subtitle}}</p>
{{item}}
<div class="container">
  <article ng-repeat="item in items" ng-switch="item.type">
    
    <div ng-switch-when="document">
        <h1>{{item.title||'untitled'}}</h1>
        <h2>{{item.subtitle}}</h2>
      
      <section ng-repeat="section in item.sections" ng-if="item.sections">  
        <div ng-switch="section.type">
          <div ng-switch-when="image">
            <img ng-src="{{section.src}}" style="max-width: 100%; margin: 40px 0">
          </div>
          <div ng-switch-default class="container" ng-bind-html="section.html">
          </div>
        </div>
      </section>
      <section ng-if='!item.sections' ng-bind-html="item.html">

    </div>
    <div ng-switch-when="image" class="media">
      <img ng-src="media/{{item.src}}" style="width: 100%">
      <p class="title" ng-bind-html="item.metadata.title"></p>
      <p class="description" ng-bind-html="item.metadata.subtitle"></p>
    </div>

  </article>
</div>